@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap");
@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: $text-color;
  background-color: $background-color;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

button {
  @include button-style($background-color: #fdecef, $text-color: #0f110c);
}

.gallery {
  columns: 4 320px;
  column-gap: 0.5em;
}
.gallery img {
  max-width: 100%;
  margin-bottom: 0.5em;
  display: block;
  outline: 2px solid #ffff;
  outline-offset: -10px;
  cursor: pointer;
}

.home-main {
  padding: 20px;
}

// Parte de favoritos
.favouritesPage {
  padding: 20px;
}

.sortButtons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sortButtons button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
.clearButton {
  background: rgb(216, 83, 83);
  color: #fff;
  cursor: pointer;
  padding: 0.5em;
  transition: opacity 0.3s ease;

  &:hover {
    background: darken(red, 10%);
  }
}
// Usamos grid para favoritos  ya que ahora no queremos que tenga distintos tamaños
.favourites-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}

.favourites-gallery > div {
  height: 200px;
  overflow: hidden;
}

.favourites-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  outline: 2px solid #ffff;
  outline-offset: -10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .favourites-gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .favourites-gallery > div {
    height: auto;
  }

  .favourites-gallery img {
    height: auto;
    aspect-ratio: 16 / 9;
  }
}
