@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');
@import './variables';
@import './mixins';

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  color: $text-color;
  background-color: $background-color;
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

button {
  @include button-style(
    $background-color: #FDECEF,
    $text-color: #0f110c 
  ); 
}