@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
#root {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
  }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  color: #0f110c;
  background-color: #CECCCC;
  padding: 20px;


}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

/* Estilos generales para botones */
button {
    background: #FDECEF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background: #B0899D;
  }