@use "./variables" as *;
@mixin button-style($background-color, $text-color, $padding: 0.5rem 1rem, $border-radius: 5px) {
  background-color: $background-color;
  color: $text-color;
  border: none;
  border-radius: $border-radius;
  padding: $padding;
  cursor: pointer;
  transition: background-color $transition-duration ease;

  &:hover {
    background-color: brightness($background-color, 10%); 
  }
}